#app {
    display: grid;
    grid-template-columns: 48px 1fr 48px;
    grid-template-rows: 24px auto auto 1fr 48px;
    grid-template-areas: ". . ."
        ". top ."
        ". content ."
        ". . ."
        ". . .";
}

#top {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

#top .title {
    margin-bottom: 0;
}

#top .close {
    width: 24px;
    height: 24px;
    margin-left: auto;
    opacity: .6;
    cursor: pointer;
}

#top .close:hover {
    opacity: .8;
}

#logo {
    width: 100%;
    height: 94px;
    margin: 60px auto 96px;
}

.card-preview {
    margin-bottom: 40px;
}

.subtitle {
    margin-bottom: 32px;
}

#email-box {
    margin-bottom: 20px;
}

#telephone-box {
    border-bottom: none;
}

#telephone-box:focus-within {
    border-bottom: 2px #FF5900 solid;
}

#actions {
    margin-top: 64px;
}

#actions .button {
    margin: 0;
    width: 100%;
}



@media only screen and (max-width: 395px) {

    #app {
        grid-template-columns: 32px 1fr 32px;
    }

}